:root {
  --primary-text-color: #212121
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

/* Site nav */
.logo {
font-family: raleway;
  font-size: 26px;
  font-weight: 700;
}

.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
}

.site-nav .link {
  font-size: 14px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.contact .link {
  font-size: 14px;
  font-weight: 500;
}
.contact .link {
  color: rgb(160, 150, 150);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--title-text-color);
}

.hero-text .text {
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 900;
  background-color: #2F303A;
}
.hero-text .button {
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
}


.control .button:hover,
.control .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.project .title {
  font-size: 18px;
  color: #212121;
  font-weight: 700;
}

.project .desk {
  font-size: 16px;
  color: #757575;
  font-weight: 400;
}

.features{
  list-style: none;
  background-color: #E5E5E5;
}

.features .title {
  font-size: 14px;
}

.features .text {
  font-size: 14px;
  color: #757575;
}

.subject {
  
  font-size: 42px;
  color: #212121;
  font-weight: 700;
}

.list{
  list-style: none;
}

.box{
    background-color: #F5F4FA;
    list-style: none;
}
.box-caption {

  font-size: 42px;
  font-weight: 700;
}

.items{
  list-style: none;
}
.items .subject {
  font-size: 16px;
  font-weight: 500;
}

.items .desc {
  font-size: 16px;
  color: #757575;
}

